h1 {
    color: rgb(0,0,0);
    background-color: aquamarine;
    text-align: center;
}

p {
    margin: auto;
}

img {
    margin: auto;
}

.container {
    background-color: aqua;
    display: flex;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
}